<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--[ConnectionStrings / ODBC]-->
	<connectionStrings>
		<!--Local DB-->
		<!--
		<add name="_db" providerName="MySql.Data.MySqlClient"
			 connectionString="server=localhost;user=root;database=;port=3306;password=;"/>
		-->
		
		<!--Public DB-->
		<add name="_db" providerName="MySql.Data.MySqlClient"
			 connectionString=""/>
	</connectionStrings>
	<!--[ConnectionStrings / ODBC]-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
